{% load static %} 
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block name%} 
    {% endblock %} 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    
    {% block javascript %}
    {% endblock %}
</head>

<body class="uwu">
    <nav class="navbar navbar-expand-lg  fixed-top">
        <div class="container-fluid">
            &nbsp; &nbsp;
            <a class="navbar-brand" style="font-size: 30px;" href="{% url 'index' %}">MUSICPRO</a>
            <img src="{% static 'img/music_pro.png' %}" style="width: 45px; padding-top: 10px;" alt="">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="btn btn-dark active" href="{% url 'new_product' %}">Agregar Producto</a>
                        </li>
                        &nbsp; 
                        &nbsp;
                        <li class="nav-item">
                            <a class="btn btn-dark active" href="{% url 'list_product' %}">Lista de Productos</a>
                        </li>
                        {% endif %}
                    <li class="nav-item">
                        <a class="nav-link active">{{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'logout' %}">Cerrar Sesión</a> 
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'login' %}">Login</a>
                    </li>
                    &nbsp; &nbsp;
                    <li class="nav-item">
                        <a class="btn btn-dark active" href="{% url 'register' %}">Registrarse</a>
                    </li>
                    {% endif %}
                    
                    <li>
                        <a href="{% url 'cart' %}" class="nav-item nav-link">Carrito</a>
                    </li>
                </ul>
                &nbsp; &nbsp;
            </div>
        </div>
    </nav>
    <div class="row">
        
        <div class="bottom_nav">
            <ul class="row">
                {% for c in all_categorias %}
                <li class="col col-md-2 col-sm-3 col-xs-6 "><a class="text-decoration-none" href="{% url 'sub_categories' c.id %}">{{c.categoria }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>


    {% block content %} {% endblock %}

    <footer class="footer">
        <div class="container ">
            <div class="row">
                <div class="footer-col col-lg-4 col-md-2 col-sm-4 col-xs-12">
                    <h4>TITULO 1</h4>
                    <ul>
                        <li>
                            <a href="#">Compras</a>
                        </li>
                        <li>
                            <a href="#">contenido</a>
                        </li>
                        <li>
                            <a href="#">contenido</a>
                        </li>
                        <li>
                            <a href="#">contenido</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <h4>TITULO 2 </h4>
                    <ul>
                        <li>
                            <a href="#">contenido</a>
                        </li>
                        <li>
                            <a href="#">contenido</a>
                        </li>
                        <li>
                            <a href="#">contenido</a>
                        </li>
                        <li>
                            <a href="#">contenido</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col  col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <h4>TITULO 3</h4>
                    <ul>
                        <li>
                            <a href="#">contenido</a>
                        </li>
                        <li>
                            <a href="#">contenido</a>
                        </li>
                        <li>
                            <a href="#">contenido</a>
                        </li>
                        <li>
                            <a href="#">contenido</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>