{% extends 'core/base.html' %}
{% load static %}
{% load humanize %}
{% block name %}
<title>MusicPro - Tu paraiso musical</title>
{% endblock %}
{% block javascript %}   
{% endblock %}

{% block content %}
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/fondo.png' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/fondo2.png' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/fondo3.png' %}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <br>

    <div class="text-center">
      <h1>
        Productos
      </h1>
    </div>
    <br>

    <div class="container card-group">
      <div class="items">
          <div class="row">
            {% for i in all_products %}
              <div class="col-2 col-md-4 ">
                  <div class="card item shadow mb-4">
                      <h3 class="item-title card-header">{{ i.nombre | title }}</h3>
                      {% if i.imagen %}
                      <img class="item-image" src="{{ i.imagen.url }}">
                      {% endif %}
                      <div class="item-details card card-header">
                          <h4 class="item-price">{{ i.valor | intcomma }}</h4>
                          <button class="item-button btn btn-primary addToCart"><a class="badge badge-primary" href="{% url 'add_product_detail' i.id %}"> Agregar al Carrito </a></button>
                      </div>
                  </div>
              </div>
            {% endfor %}
          </div>
      </div>
  </div>
  <br>
  <br>

    
{% endblock %}
