{% extends 'core/base.html' %}
{% block name%}
<title>MusicPro - Lista de productos</title>
{% endblock %}
{% block content %}
{% load humanize %}
<br>
<br>
<br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <div>
                    <p class="alert alert-success">{{ mensaje }}</p>
                </div>
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Serie</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Marca</th>
                        <th>Sub Categoria</th>
                        <th>Opciones</th>
                    </tr>

                    {% for i in product %}
                    <tr>
                        <td>{{ i.serie_producto | title }}</td>
                        <td>{{ i.nombre | title }}</td>
                        <td>${{ i.valor | intcomma }}</td>
                        <td>{{ i.marca | title }}</td>
                        <td>{{ i.sub_categoria | title }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'modify_product' i.id %}">Modificar</a>
                            <br>
                            <a class="btn btn-danger" href="{% url 'delete_product' i.id %}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
{% endblock %}