{% extends 'core/base.html' %}
{% block name%}
<title>MusicPro - Lista de productos</title>
{% endblock %}
{% block content %}
{% load humanize %}
<br>
<br>
<br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Serie</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Marca</th>
                        <th>Sub Categoria</th>
                    </tr>

                    {% for i in all_instrument %}
                    <tr>
                        <td>{{ i.serie_producto | title }}</td>
                        <td>{{ i.nombre | title }}</td>
                        <td>${{ i.valor | intcomma }}</td>
                        <td>{{ i.marca | title }}</td>
                        <td>{{ i.sub_categoria | title }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
{% endblock %}